{% extends "layout.html" %}

{% block hero %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/blog.png" class="d-block w-100" alt="woman with Afro hair">
                <div class="carousel-caption d-md-block">
                    <h1 class="blog-name">Blog</h1>
                    <p class="blog-text">Get all the catchy news on hair trends and help.</p>
                </div>
            </div>
        </div>
{% endblock %}

{% block main %}
    <!--Blog starts-->
    <section>
        <div class="container my-5">
            <div class="testimonial-title">
                <h1>Blog Posts</h1>
                <p>Join us in discovering the secrets to unlocking your hair's natural glow. No more guesswork, just informed, personalized advice.</p>
            </div>
            <div class="row my-5 mx-5 justify-content-center">
                <div class="col-md-4 col-lg-4 col-xl-4  my-2">
                    <div class="card">
                        <img src="https://images.ctfassets.net/1ny4yoiyrqia/1g0HWovEiJCScXhtTmeDyF/20a4a50ea7435aaef3368d74f462b7e2/african-hair.jpg" class="card-img-top" style="height:190px;" alt="...">
                        <div class="card-body">
                            <h5>Healthy hair? Where should I start from?</h5>
                            <p>This is our very first hair blog. It introduces you to Glowing Mane and helps you get started with a simple routine.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-lg-4 col-xl-4  my-2">
                    <div class="card">
                        <img src="https://static-bebeautiful-in.unileverservices.com/1200/900/how%20to%20blow%20dry%20hair_MobileHomeFeature.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Blow drying! Heat can be Beneficial!</h5>
                            <p>I had my first ever blow dry and it was worth it. In this blog, I will discuss the benefits and what to avoid when using heat on your hair.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 my-2">
                    <div class="card">
                        <img src="https://cdn.aarp.net/content/dam/aarp/entertainment/beauty-and-style/2020/04/1140-hair-products-on-table.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Does products grow hair?</h5>
                            <p>A guide to choosing the right products for your hair care routine. You will learn what to look out for and the myth behind products growing hair.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-lg-4 col-xl-4  my-2">
                    <div class="card">
                        <img src="/static/img/item.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Card title</h5>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-lg-4 col-xl-4 my-2">
                    <div class="card">
                        <img src="/static/img/item.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Card title</h5>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 my-2">
                    <div class="card">
                        <img src="/static/img/item.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Card title</h5>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog ends-->
{% endblock %}
