{% extends "layout.html" %}

{% block hero %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/blog.png" class="d-block w-100" alt="woman with Afro hair">
                <div class="carousel-caption d-md-block">
                    <h1 class="blog-name">Blog</h1>
                    <p class="blog-text">Get all the catchy news on hair trends and help.</p>
                </div>
            </div>
        </div>
{% endblock %}

{% block main %}
    <!--Blog starts-->
    <section>
        <div class="container my-5">
            <div class="testimonial-title">
                <h1>Blog Posts</h1>
                <p>Join us in discovering the secrets to unlocking your hair's natural glow. No more guesswork, just informed, personalized advice.</p>
            </div>
            {% for post in posts %}
            <div class="row my-5 mx-5 justify-content-center">
                <div class="col-md-4 col-lg-4 col-xl-4  my-2">
                    <div class="card">
                        <img src="https://images.ctfassets.net/1ny4yoiyrqia/1g0HWovEiJCScXhtTmeDyF/20a4a50ea7435aaef3368d74f462b7e2/african-hair.jpg" class="card-img-top" style="height:190px;" alt="...">
                        <div class="card-body">
                            <h5>{{post.title}}</h5>
                            <p>{{post.subtitle}}</p>
                            <a href={{"/post/" + post.slug}} class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!--Blog ends-->
{% endblock %}
