{% extends "layout.html" %}

{% block hero %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner justify-content-left">
            <div class="carousel-item active ">
                <div class="about-img" style="height: 40vh;">
                    <h1 class="name" style="font-size: 53px; line-height: 2;">Login</h1>
                </div>
            </div>
        </div>
{% endblock %}

{% block main %}
        <div class="container">
            <div class="col">
                    <div class="testimonial-title my-5">
                        <h1 style="font-size: 2em; white-space: nowrap;">To continue, enter your details</h1>
                    </div>
                    <form action="/login" method="post" class="justify-content-center abt-form">
                    <div class="col-lg-12 col-md-10 my-5  justify-content-center">
                        <div class="mb-3 mx-5">
                            <label class="form-label ">Username</label>
                            <input class="form-control mx-auto" id="username" name="username" placeholder="Username" type="text">
                        </div>
                        <div class="mb-3 mx-5">
                            <label class="form-label ">Password</label>
                            <input class="form-control mx-auto " id="password" name="password" placeholder="Password" type="password">
                        </div>
                    </div>
                        <button class="btn btn-primary w-100 mx-auto mb-3" type="submit" >Login</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}


